<div class="container">
  <form action="/home/new" method="post" enctype="multipart/form-data">
    <input type="text" name="satang" placeholder="제목"><br>
    <textarea name="kimbab" rows="8" cols="40" placeholder="내용"></textarea><br>
    <input type="file" name="pic" accept="image/*">
    <input type="submit" value="글쓰기">
  </form>
</div>