<div class ="container">
  로그인 유저 : <%= current_user.email %><hr>
    <% @posts.each do |o| %>
        <p>글쓴이 : <%= o.user.present? ? o.user.email : "글쓴이 없음" %></p>
        <p><a href="/home/read/<%=o.id%>">제목 : <%=o.title%></a></p>
    <% end %>
    <a href="/home/create">새 글쓰기</a><br>
    <a href="/users/sign_out">로그아웃</a><br>
</div>
